# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg
*.egg-info/
dist/
build/
.eggs/
.venv/
venv/
env/
*.env

# Jupyter Notebooks
.ipynb_checkpoints/

# ML artifacts
*.pkl
*.joblib
*.h5
*.pt
*.pth
ml-service/ml-service/state/

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.*.local

# Docker
*.log

# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/
notes2.txt
